body {
    /*margin: 0px -860px 0px 0px;*/
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    flex-wrap: wrap;
    margin: -20px 0px 0px 0px;
}
.h1_MyApp_WelderEquipmentALTEP {
    padding: 10px 0 0 0;
    color: red;
    text-decoration: underline;
}
.altep {

}
table {
    /*margin: 0 10px;*/
    margin: 0 auto;
    width: 100%;
}
#endTable {
    color: lime;
}
#endShopTable {
    color: lime;
}
th {
    padding: 10px;
    border: 1px solid;
}
td {
    border: 1px solid;
}
tr {

}
.numberOfEquipments {
    color: red;
    font-weight: 900;
    text-decoration: underline;
}
.remove {
    display: grid;
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    margin: auto;
}
.remove:hover {
    color: red;
}
.removeTd {
    background-color: blue;
}
a {
    text-decoration: none;
    color: aquamarine;
    cursor: pointer;
}
a:hover {
    color: red;
}
.btnAddEqw {
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid;
    border-color: springgreen;
    border-radius: 10px;
    background-color: gold;
}
.btnAddEqw:hover {
    background-color: blue;
    cursor: pointer;
    color: bisque;
}
input {
    padding: 10px;
    margin: 0 10px;
    width: 15%;
    text-align: center;
    text-shadow: 0 0 black;
}
input:hover {
    background-color: springgreen;
}

.hiddenSetting {
    display: none;
}
.hiddenShopList {
    display: none;
}

.BackToList {
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid;
    border-color: springgreen;
    border-radius: 10px;
}
.BackToList:hover {
    background-color: blue;
    cursor: pointer;
    color: bisque;
}
img {
    width: 30%;
}
.spanLink {
    cursor: help;
}
.spanLink:hover {
    color: aqua;
}
.tooltip {
    /* немного стилизуем подсказку, можете использовать свои стили вместо этих */
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.id {
    display: none;
}
.shop {
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid;
    border-color: springgreen;
    border-radius: 10px;
    background-color: gold;
}
.shop:hover {
    background-color: blue;
    cursor: pointer;
    color: bisque;
}
.shop>a {
    color: black;
}
.shop>a:hover {
    color: white;
}
.styleShopPage {
    font-size: 70px;
    margin: 10px;
    font-family: serif;
}
.formAddNewEquipment {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 20px 0px 0px 0px;
    border-radius: 20px;
}

.form_h4_AddNewEquipment {
    margin: -10px 0px 20px 0px;
    color: chartreuse;
}
.DateLocal {
    /*margin: 50px 0px;*/
    color: lime;
    padding: 30px 0px 45px;
}
.sendRepair {
    padding: 10px;
    margin: 20px 10px;
    border: 1px solid;
    border-color: springgreen;
    border-radius: 10px;
    background-color: gold;
    /*width: 120px;*/
}
.sendRepair:hover {
    background-color: blue;
    cursor: pointer;
    color: bisque;
}
.inRepair {
    background-color: red;
}
.sendEquipmentUnderRepair {
    display: flex;
    flex-direction: column;
}
.disabledButtonText {
    color: aliceblue;
    font-weight: bolder;
    background-color: blue;
    cursor: pointer;
}
.EquipmentUnderRepair {
    margin: 0 10px;
}
.h3_EquipmentUnderRepair {
    text-decoration: underline;
    color: darkorange;
    font-family: cursive;
}
.notFoundEquipment {
    border-style: solid;
    color: red;
    font-size: x-large;
    margin: 20px 5px 0px 5px;
    border-radius: 10px;
    background-color: gold;
    padding: 5px 0px;
}
.foundEquipment {
    color: darkblue;
    font-size: larger;
    /*border-style: solid;*/
    margin: 5px 10px;
    border-radius: 10px;
    background-color: gold;
    padding: 5px 0px;
}
.blockHeight {
    height: 220px;
}

.hiddenTD {
    display: none;
}
.shopEquipmentTdTextStyle {
    color: white;
}
.shopEquipmentTdTextStyle:hover {
    color: yellow;
}